/* MADE Tommy Soft Font Family */

@font-face {
  font-family: 'MADE Tommy Soft';
  src: url('../assets/font/made_tommy_soft/MADE Tommy Soft Thin PERSONAL USE.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MADE Tommy Soft';
  src: url('../assets/font/made_tommy_soft/MADE Tommy Soft Light PERSONAL USE.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MADE Tommy Soft';
  src: url('../assets/font/made_tommy_soft/MADE Tommy Soft Regular PERSONAL USE.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MADE Tommy Soft';
  src: url('../assets/font/made_tommy_soft/MADE Tommy Soft Medium PERSONAL USE.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MADE Tommy Soft';
  src: url('../assets/font/made_tommy_soft/MADE Tommy Soft Bold PERSONAL USE.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MADE Tommy Soft';
  src: url('../assets/font/made_tommy_soft/MADE Tommy Soft ExtraBold PERSONAL USE.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MADE Tommy Soft';
  src: url('../assets/font/made_tommy_soft/MADE Tommy Soft Black PERSONAL USE.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Outline variants (if needed) */

@font-face {
  font-family: 'MADE Tommy Soft Outline';
  src: url('../assets/font/made_tommy_soft/MADE Tommy Soft Thin Outline PERSONAL USE.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MADE Tommy Soft Outline';
  src: url('../assets/font/made_tommy_soft/MADE Tommy Soft Light Outline PERSONAL USE.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MADE Tommy Soft Outline';
  src: url('../assets/font/made_tommy_soft/MADE Tommy Soft Regular Outline PERSONAL USE.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MADE Tommy Soft Outline';
  src: url('../assets/font/made_tommy_soft/MADE Tommy Soft Medium Outline PERSONAL USE.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MADE Tommy Soft Outline';
  src: url('../assets/font/made_tommy_soft/MADE Tommy Soft Bold Outline PERSONAL USE.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MADE Tommy Soft Outline';
  src: url('../assets/font/made_tommy_soft/MADE Tommy Soft ExtraBold Outline PERSONAL USE.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MADE Tommy Soft Outline';
  src: url('../assets/font/made_tommy_soft/MADE Tommy Soft Black Outline PERSONAL USE.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

